#footer{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}
#footer h5{
    height: 35px;
    background-color: var(--header-color);
}
#author{
    font: 700 34px P22,'sans-serif';
    text-align: center;
}
#footer address figure{
    padding: 18px 0;
    display: flex;
    justify-content: center;
}
#footer address figure a{
    margin: 0px 6px;
}
#footer address figure a img{
    width: 50px;
    height: 50px;
    transition: 400ms;
}
#footer address figure a img:hover{
    width: 60px;
    height: 60px;
}
figcaption{
    text-align: center;
    font: 16px Mark,'sans-serif';
    margin-top: 12px;
}
@media (max-width: 768px){
    #footer{
        position: absolute;
        bottom: 0;
        transform: translateY(150%);
    }
    #footer address figure a{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}
@media (max-height: 400px){
    #footer{
        transform: translateY(450%);
    }
}
