/*CSS apenas do Header*/
header nav ul{
    display: flex;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: var(--header-color);
}
li{
    margin: 0 25%;
}
#word img{
    width: 25px;
    height: 25px;
    transition: 400ms;
}
#word img:hover{
    width: 35px;
    height: 35px;
    cursor: pointer;
} 
#logo a{
    font: 2.5em P22,'sans-serif';
    color: #000000;
    transition: 400ms;
}
#logo a:hover{
    font-size: 3.0em;
}
#login a{
    font: 400 1.2em MarkB,'sans-serif';
    color: #000000;
    transition: 400ms;
}
#login a:hover{
    font-size: 1.7em;
}

/*Menu dropdown*/

aside{
    display: none;
}

@media (max-width: 768px){
    li{
        display: none;
    }
    aside{
        display: flex;
    }
    .dropbtn{
        background: none;
        border: none;
        cursor: pointer;
    }
    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        min-height: 160px;
        overflow: auto;
        z-index: 1;
    }
    .dropdown-content a{
        display: block;
    }
    .dropdown a:hover{
        background-color: aqua;
    }
    .show{
        display: block;
    }
}