/*CSS apenas do Header*/
header nav ul{
    display: flex;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: var(--header-color);
}
li:nth-child(1){
    flex-grow: 0.2;
}
li:nth-child(2){
    flex-grow: 0.2;
}
#word img{
    width: 25px;
    height: 25px;
    transition: 400ms;
}
#word img:hover{
    width: 35px;
    height: 35px;
    cursor: pointer;
} 
#logo a{
    font: 4em P22,'sans-serif';
    color: #000000;
    transition: 400ms;
}
#logo a:hover{
    font-size: 4.5em;
}
.login a{
    font: 400 1.2em MarkB,'sans-serif';
    color: #000000;
    transition: 400ms;
}
.login a:hover{
    font-size: 1.7em;
}
li:nth-child(4){
    display: none;
}
@media (max-width: 768px){
    li:nth-child(3){
        display: none;
    }
    li:nth-child(4){
        display: flex;
    }
}