@font-face{
    font-family: MarkB;
    src: url("../Fonts/Mark-Bold.ttf");
}
@font-face{
    font-family: Mark;
    src: url("../Fonts/Mark-Heavy.ttf");
}
main h2{
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
}
#text-title{
    text-align: center;
    font-family: Mark,'sans-serif';
    font-size: clamp(2em, 2em - 2.5em, 2.7em);
}
main p{
    width: 100%;
    max-width: 716px;
    margin: 50px auto;
}
#text-content{
    text-align: center;
    font-family: Mark,'sans-serif';
    font-size: clamp(0.8em, 0.8em - 1.7em, 1.8em);
}
#button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#button button{
    width: 415px;
    height: 65px;
    border: none;
    border-radius: 5px;
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
    cursor: pointer;
}
#button p{
    font: 18px MarkB,'sans-serif';
    color: white;
}
#button a{
    width: 70px;
    height: 65px;
    background-color: #007FA9; /*Azul mais escuro*/
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media (max-width: 768px){
    #button button{
        width: 315px;
    }
}