body{
    background-color: var(--header-color);
}
#form{
    width: 550px;
    height: 705px;
    background-color: #ffffff;
    margin: 60px auto;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: 400ms;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
}
#form-login{
    width: 550px;
    height: 500px;
    background-color: #ffffff;
    margin: 60px auto;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: 400ms;
    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
}
#title-form{
    font: 1.8em Mark,'sans-serif';
    margin-top: 40px;
}
.label-title{
    font: 1em Mark,'sans-serif';
    margin-top: 32px;
    position: relative;
    right: 36%;
    transform: translateX(50%);
}
.box-form{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #bbbbbb;
    cursor: text;
    padding: 20px;
    font: 16px Mark,'sans-serif';
    transition: 400ms;
}
.box-form:focus{
    background-color: rgba( 0,0, 0, 0.35);
}
button{
    width: 400px;
    height: 60px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: var(--header-color);
    border: none;
    cursor: pointer;
    transition: 400ms;
    box-shadow: 0 5px 4px rgba(250, 173, 173, 0.15);
}
button:hover{
    width: 410px;
    height: 70px;
}
#text-button{
    font: 1.4em Mark,'sans-serif';
    color: #000000;
    transition: 200ms;
}
.text-more{
    opacity: 100%;
    font: 1em Mark,'sans-serif';
    margin-top: 30px;
    transition: 400ms;
}
.text-more:hover{
    font-size: 1.1em;
}
@media (max-width: 545px){
    #form{
        width: 300px;
    }
    #form-login{
        width: 300px;
    }
    
    .label-title{
        position: relative;
        right: 41%;
        text-align: center;
    }
    .box-form{
        width: 250px;
    }
    button{
        width: 250px;
    }
    button:hover{
        width: 250px;
    }
}