/*Resetando padrões do CSS, inserindo váriaveis, e incluindos fontes*/
@font-face{
    font-family: MarkB;
    src: url("../Fonts/Mark-Bold.ttf");
}
@font-face{
    font-family: Mark;
    src: url("../Fonts/Mark-Heavy.ttf");
}
@font-face{
    font-family: P22;
    src: url("../Fonts/P22\ FLLW\ Exhibition\ Regular.ttf");
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{ /*Variaveis, apenas cores*/
    --header-color: #0096c7;
}
html,body{
    height: 100%;
}
body{
    background-color: #f0f0f5;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
@media (-ms-high-contrast: white-on-black){
    body{
        background-color: #f0f0f5;
    }
}